// banner section =======================

.banner {
  position: relative;
  height: 80vh;
  @include mq("desktop") {
    height: 90vh;
  }

  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 7rem;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__slide.active {
    z-index: 5;
  }

  &__slide:nth-of-type(1) {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0.5) 70%
      ),
      url("../images/banner-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__slide:nth-of-type(2) {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0.5) 70%
      ),
      url("../images/banner-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__slide:nth-of-type(3) {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0.5) 70%
      ),
      url("../images/banner-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__header {
    // border: 1px solid red;
    padding: 3rem 1rem;

    @include mq("tablet") {
      padding: 5rem 2rem;
      width: 30rem;
      margin-left: 3rem;
    }

    @include mq("desktop") {
      margin-left: 6rem;
    }
  }

  &__header p {
    color: $ghost-white;
    margin-bottom: 1.5em;
  }

  &__btns {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    width: 6rem;
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    @include mq("tablet") {
      right: 5%;
      bottom: 5%;
      width: 6.5rem;
      font-size: 1.5rem;
    }

    @include mq("desktop") {
      right: 10%;
    }
  }

  &__btn {
    border: 1px solid $white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    color: rgba($white, 0.8);
    @include mq("tablet") {
      width: 3rem;
      height: 3rem;
    }

    &:hover {
      background-color: $ghost-white;
      color: $black;
    }
  }
}

// leaders section ==============

.leaders {
  padding: 4rem 0;
  @include mq("tablet") {
    padding: 4rem 0 8rem;
  }

  .container {
    @include mq("tablet") {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__left {
    @include mq("tablet") {
      flex: 1;
    }
  }

  &__heading {
    // border: 1px solid;
  }

  .heading__small {
    color: $cta;
  }

  p {
    margin-bottom: 1.5rem;
  }

  &__right {
    padding-top: 4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include mq("tablet") {
      padding-top: 0;
      flex: 1;
      margin-left: 1.5rem;
      height: 25rem;
      position: relative;
    }
  }

  &__award {
    background-color: $black;
    padding: 2.5rem;
    width: 85%;
    height: 14rem;
    text-align: right;
    transform: translateY(-4rem);
    @include mq("tablet") {
      position: absolute;
      z-index: 4;
      bottom: -5rem;
      transform: translateY(0);
      right: 1.5rem;
      width: 18rem;
    }
  }

  &__award .heading__small {
    color: $ghost-white !important;
    text-align: left;
    span {
      color: lighten($cta, 5%);
    }
  }

  &__award-icon {
    font-size: 5rem;
    color: lighten($cta, 10%);
  }

  &__img-box {
    height: 22rem;
    @include mq("tablet") {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }

  &__img-box img {
    height: 100%;
    width: 100%;
  }
}

// works ========================================
.works {
  padding-bottom: 4rem;
  .container {
    // border: 1px solid;
  }

  &__heading {
    @include mq("tablet") {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // width: 95%;
    @include mq("tablet") {
      width: 40%;
    }
  }

  &__container {
    margin: 3rem auto 0;
    height: 25rem;
    // width: 20rem;
    position: relative;
    display: grid;

    @include mq("tablet") {
      width: auto;
      height: 30rem;
      grid-template-columns: 60% repeat(2, 40%);
      grid-column-gap: 1.5rem;
      overflow-x: hidden;
    }

    &.active-2 {
      grid-template-columns: 15% 70% 15%;
      grid-column-gap: 1rem;
    }

    &.active-3 {
      grid-template-columns: 15% 15% 70%;
      grid-column-gap: 0.8rem;
    }
  }

  &__list li {
    text-transform: capitalize;
    padding-bottom: 3px;
    border-bottom: 1.5px solid transparent;
    transition: 0.3s ease;
  }

  &__list li.active {
    border-color: $cta;

    a {
      font-weight: bold;
      color: $cta;
    }
  }

  &__list li a {
    color: $grey;
    text-decoration: none;
    transition: 0.3s ease;
  }

  &__work {
    border-radius: 5px;
    overflow: hidden;
    filter: blur(1px) opacity(0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    margin-bottom: 4rem;
    @include mq("tablet") {
      position: static;
      margin-bottom: 0;
    }
  }

  &__work.active {
    filter: blur(0) grayscale(0);
    opacity: 1;
    z-index: 2;

    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  }

  &__work.active:hover &__text {
    transform: translateY(0);
  }

  &__work::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }

  &__work:nth-of-type(1)::after {
    height: 100%;
    background-image: url("../images/work-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // opacity: 0.95;
  }

  &__work:nth-of-type(2)::after {
    height: 100%;
    background-image: url("../images/work-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

  &__work:nth-of-type(3)::after {
    height: 100%;
    background-image: url("../images/work-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
  }

  &__text {
    z-index: 1;
    background-color: $black;
    padding: 1rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(10rem);
    transition: transform 0.25s ease;
    @include mq("tablet") {
      transform: translateY(52%);
      height: 65%;
      justify-content: flex-start;
    }
  }

  &__text.active &__work-heading h3 span {
    transform: rotate(90deg);
  }

  &__work-heading {
    padding: 1rem;
    z-index: 1;
  }

  &__work-heading h4 {
    margin-bottom: 0.3rem;
    color: $cta;
  }

  &__work-heading h3 {
    font-size: 1.3rem;
    color: $grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__work-heading h3 span {
    transition: transform 0.25s ease;
  }

  &__heading-btn {
  }

  &__description {
    // border-top: 1px solid $white;
    color: $ghost-white;
    z-index: 1;
    padding: 0.4rem 1rem 1rem;
  }

  &-btn {
    display: none;
  }

  &__slider-controls {
    // border: 1px solid;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__slider-btn {
    cursor: pointer;
    transition: background-color 0.2s linear;
    margin-right: 0.8rem;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: lighten($grey, 25%);
  }

  &__slider-btn.active {
    background-color: $cta;
  }
}

// highlight ================================
.highlight {
  padding: 3rem 0 4rem;
  .container {
    display: grid;
    grid-template-rows: repeat(3, minmax(30rem, 1fr));
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    justify-content: center;
    @include mq("tablet") {
      grid-template-rows: 30rem;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }

  &__content {
    @include mq("desktop") {
      border: 1px groove rgba($ghost-white, 0.3);
      height: 88%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 1rem;
    }
  }

  &__box {
    border: 1px solid;
    background-color: $black;
    border-radius: 3px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  &__icon {
    display: inline-block;
    margin-bottom: 0.7rem;
    color: $cta;
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
    color: $white;
  }

  p {
    color: $ghost-white;
    margin-bottom: 0.8rem;
    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__list {
    margin-bottom: 1.2rem;
  }

  &__list li {
    text-transform: capitalize;
    color: $grey;
    margin-bottom: 0.5rem;
  }

  &__list li span {
    // display: in;
    margin-right: 0.35rem;
    color: $cta;
  }
}

// standard ===================
.standard {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("desktop") {
    flex-direction: row;
    display: block;
    margin-top: 15rem;
    position: relative;
  }

  &__content {
    background-color: $black;
    padding: 3rem 0;
    flex: 1;
    @include mq("tablet") {
      padding: 10rem 0;
      order: 2;
    }
    @include mq("desktop") {
      width: 70%;
    }
  }

  &__text {
    padding: 1.5rem;
    @include mq("desktop") {
      width: 65%;
      padding: 1.5rem 3rem;
    }
  }

  &__heading {
  }

  .heading__small {
    margin-bottom: 0.3rem;
    color: $cta;
  }

  .heading__sub {
    color: $white;
  }

  &__description {
    // border: 1px solid white;
  }

  &__description p {
    color: $ghost-white;
  }

  &__list {
    margin-top: 2rem;
    @include mq("tablet") {
      display: flex;
    }
  }

  &__item {
    padding: 4rem 2rem;
    background-color: $ghost-white;
    flex: 1;
    @include mq("tablet") {
      flex: 20rem;
      margin-right: 1rem;
    }
  }

  &__item p {
    color: $black;
  }

  &__icon {
    font-size: 1.5rem;
  }

  &__img {
    flex: 1;
    @include mq("tablet") {
      width: 85%;
      transform: translateY(5rem);
      order: 1;
    }

    @include mq("desktop") {
      width: 55%;
      position: absolute;
      height: 40rem;
      transform: translateY(-10rem);
      top: 0;
      right: 0;
    }

    img {
      @include mq("desktop") {
        height: 100%;
      }
    }
  }
}
